FONT_EXCLAMATION font_exclam.tga
FONT_DOUBLE_QUOTE font_quote.tga
FONT_POUND font_pound.tga
FONT_DOLLAR font_dollar.tga
FONT_PERCENT font_percent.tga
FONT_AMPERSAND font_ampersand.tga
FONT_APOSTROPHE font_apostrophe.tga
FONT_LEFT_PARENS font_l_paren.tga
FONT_RIGHT_PARENS font_r_paren.tga
FONT_ASTERISK font_asterisk.tga
FONT_PLUS font_plus.tga
FONT_COMMAN font_comma.tga
FONT_HYPHEN font_hyphen.tga
FONT_PERIOD font_period.tga
FONT_FORWARD_FLASH font_f_slash.tga
FONT_0 font_0.tga
FONT_1 font_1.tga
FONT_2 font_2.tga
FONT_3 font_3.tga
FONT_4 font_4.tga
FONT_5 font_5.tga
FONT_6 font_6.tga
FONT_7 font_7.tga
FONT_8 font_8.tga
FONT_9 font_9.tga
FONT_COLON font_colon.tga
FONT_SEMICOLON font_semicolon.tga
FONT_LESS_THAN font_lt.tga
FONT_EQUALS font_equals.tga
FONT_GREATER_THAN font_gt.tga
FONT_QUESTION font_ques.tga
FONT_AT font_at.tga
FONT_A font_a.tga
FONT_B font_b.tga
FONT_C font_c.tga
FONT_D font_d.tga
FONT_E font_e.tga
FONT_F font_f.tga
FONT_G font_g.tga
FONT_H font_h.tga
FONT_I font_i.tga
FONT_J font_j.tga
FONT_K font_k.tga
FONT_L font_l.tga
FONT_M font_m.tga
FONT_N font_n.tga
FONT_O font_o.tga
FONT_P font_p.tga
FONT_Q font_q.tga
FONT_R font_r.tga
FONT_S font_s.tga
FONT_T font_t.tga
FONT_U font_u.tga
FONT_V font_v.tga
FONT_W font_w.tga
FONT_X font_x.tga
FONT_Y font_y.tga
FONT_Z font_z.tga
FONT_LEFT_SQUARE_BRACKET font_l_sqbracket.tga
FONT_BACK_SLASH font_b_slash.tga
FONT_RIGHT_SQUARE_BRACKET font_r_sqbracket.tga
FONT_CARET font_caret.tga
FONT_UNDERSCORE font_underscore.tga
FONT_SINGLE_QUOTE font_squote.tga
FONT_COPYRIGHT font_copyright.tga
FONT_TRADEMARK font_tm.tga
